// Import Bulma's core
@import '~bulma/sass/utilities/_all';

// Set your colors
$primary: #8c67ef;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);

$sinai-1001: #CFBE56;
$sinai-1001-invert: findColorInvert($sinai-1001);
$sinai-1001-light: findLightColor($sinai-1001);
$sinai-1001-dark: findDarkColor($sinai-1001);
$sinai-1002: #236DCE;
$sinai-1002-invert: findColorInvert($sinai-1002);
$sinai-1002-light: findLightColor($sinai-1002);
$sinai-1002-dark: findDarkColor($sinai-1002);
$sinai-2001: #C7739A;
$sinai-2001-invert: findColorInvert($sinai-2001);
$sinai-2001-light: findLightColor($sinai-2001);
$sinai-2001-dark: findDarkColor($sinai-2001);
$sinai-2002: #65FBFF;
$sinai-2002-invert: findColorInvert($sinai-2002);
$sinai-2002-light: findLightColor($sinai-2002);
$sinai-2002-dark: findDarkColor($sinai-2002);
$sinai-3001: #41BD16;
$sinai-3001-invert: findColorInvert($sinai-3001);
$sinai-3001-light: findLightColor($sinai-3001);
$sinai-3001-dark: findDarkColor($sinai-3001);
$sinai-3002: #18695F;
$sinai-3002-invert: findColorInvert($sinai-3002);
$sinai-3002-light: findLightColor($sinai-3002);
$sinai-3002-dark: findDarkColor($sinai-3002);
$sinai-3003: #28F61C;
$sinai-3003-invert: findColorInvert($sinai-3003);
$sinai-3003-light: findLightColor($sinai-3003);
$sinai-3003-dark: findDarkColor($sinai-3003);
$sinai-3004: #1DD577;
$sinai-3004-invert: findColorInvert($sinai-3004);
$sinai-3004-light: findLightColor($sinai-3004);
$sinai-3004-dark: findDarkColor($sinai-3004);
$sinai-3005: #3989D5;
$sinai-3005-invert: findColorInvert($sinai-3005);
$sinai-3005-light: findLightColor($sinai-3005);
$sinai-3005-dark: findDarkColor($sinai-3005);
$sinai-3006: #590BF1;
$sinai-3006-invert: findColorInvert($sinai-3006);
$sinai-3006-light: findLightColor($sinai-3006);
$sinai-3006-dark: findDarkColor($sinai-3006);
$sinai-3007: #14484F;
$sinai-3007-invert: findColorInvert($sinai-3007);
$sinai-3007-light: findLightColor($sinai-3007);
$sinai-3007-dark: findDarkColor($sinai-3007);
$sinai-3008: #840096;
$sinai-3008-invert: findColorInvert($sinai-3008);
$sinai-3008-light: findLightColor($sinai-3008);
$sinai-3008-dark: findDarkColor($sinai-3008);
$sinai-3009: #6E5DFA;
$sinai-3009-invert: findColorInvert($sinai-3009);
$sinai-3009-light: findLightColor($sinai-3009);
$sinai-3009-dark: findDarkColor($sinai-3009);
$sinai-3010: #6BDF4C;
$sinai-3010-invert: findColorInvert($sinai-3010);
$sinai-3010-light: findLightColor($sinai-3010);
$sinai-3010-dark: findDarkColor($sinai-3010);
$sinai-3011: #182CF1;
$sinai-3011-invert: findColorInvert($sinai-3011);
$sinai-3011-light: findLightColor($sinai-3011);
$sinai-3011-dark: findDarkColor($sinai-3011);
$sinai-3012: #86267C;
$sinai-3012-invert: findColorInvert($sinai-3012);
$sinai-3012-light: findLightColor($sinai-3012);
$sinai-3012-dark: findDarkColor($sinai-3012);
$sinai-3013: #7ADAFF;
$sinai-3013-invert: findColorInvert($sinai-3013);
$sinai-3013-light: findLightColor($sinai-3013);
$sinai-3013-dark: findDarkColor($sinai-3013);
$sinai-3014: #656BC4;
$sinai-3014-invert: findColorInvert($sinai-3014);
$sinai-3014-light: findLightColor($sinai-3014);
$sinai-3014-dark: findDarkColor($sinai-3014);
$sinai-3015: #FD62E5;
$sinai-3015-invert: findColorInvert($sinai-3015);
$sinai-3015-light: findLightColor($sinai-3015);
$sinai-3015-dark: findDarkColor($sinai-3015);
$sinai-3016: #6D78F9;
$sinai-3016-invert: findColorInvert($sinai-3016);
$sinai-3016-light: findLightColor($sinai-3016);
$sinai-3016-dark: findDarkColor($sinai-3016);
$sinai-3017: #E04BA6;
$sinai-3017-invert: findColorInvert($sinai-3017);
$sinai-3017-light: findLightColor($sinai-3017);
$sinai-3017-dark: findDarkColor($sinai-3017);
$sinai-4001: #0CFA94;
$sinai-4001-invert: findColorInvert($sinai-4001);
$sinai-4001-light: findLightColor($sinai-4001);
$sinai-4001-dark: findDarkColor($sinai-4001);
$sinai-4002: #BB01BB;
$sinai-4002-invert: findColorInvert($sinai-4002);
$sinai-4002-light: findLightColor($sinai-4002);
$sinai-4002-dark: findDarkColor($sinai-4002);
$sinai-4003: #92B098;
$sinai-4003-invert: findColorInvert($sinai-4003);
$sinai-4003-light: findLightColor($sinai-4003);
$sinai-4003-dark: findDarkColor($sinai-4003);
$sinai-4004: #65B411;
$sinai-4004-invert: findColorInvert($sinai-4004);
$sinai-4004-light: findLightColor($sinai-4004);
$sinai-4004-dark: findDarkColor($sinai-4004);
$sinai-5001: #805307;
$sinai-5001-invert: findColorInvert($sinai-5001);
$sinai-5001-light: findLightColor($sinai-5001);
$sinai-5001-dark: findDarkColor($sinai-5001);
$sinai-5002: #3AC013;
$sinai-5002-invert: findColorInvert($sinai-5002);
$sinai-5002-light: findLightColor($sinai-5002);
$sinai-5002-dark: findDarkColor($sinai-5002);
$sinai-6001: #90C0A0;
$sinai-6001-invert: findColorInvert($sinai-6001);
$sinai-6001-light: findLightColor($sinai-6001);
$sinai-6001-dark: findDarkColor($sinai-6001);
$sinai-6002: #468F22;
$sinai-6002-invert: findColorInvert($sinai-6002);
$sinai-6002-light: findLightColor($sinai-6002);
$sinai-6002-dark: findDarkColor($sinai-6002);
$sinai-6003: #3405B9;
$sinai-6003-invert: findColorInvert($sinai-6003);
$sinai-6003-light: findLightColor($sinai-6003);
$sinai-6003-dark: findDarkColor($sinai-6003);
$sinai-6004: #8659DF;
$sinai-6004-invert: findColorInvert($sinai-6004);
$sinai-6004-light: findLightColor($sinai-6004);
$sinai-6004-dark: findDarkColor($sinai-6004);
$sinai-7001: #53EB8E;
$sinai-7001-invert: findColorInvert($sinai-7001);
$sinai-7001-light: findLightColor($sinai-7001);
$sinai-7001-dark: findDarkColor($sinai-7001);
$sinai-7002: #43A596;
$sinai-7002-invert: findColorInvert($sinai-7002);
$sinai-7002-light: findLightColor($sinai-7002);
$sinai-7002-dark: findDarkColor($sinai-7002);
$sinai-7003: #529829;
$sinai-7003-invert: findColorInvert($sinai-7003);
$sinai-7003-light: findLightColor($sinai-7003);
$sinai-7003-dark: findDarkColor($sinai-7003);
$sinai-7004: #9CE6BD;
$sinai-7004-invert: findColorInvert($sinai-7004);
$sinai-7004-light: findLightColor($sinai-7004);
$sinai-7004-dark: findDarkColor($sinai-7004);
$sinai-7005: #BD3B67;
$sinai-7005-invert: findColorInvert($sinai-7005);
$sinai-7005-light: findLightColor($sinai-7005);
$sinai-7005-dark: findDarkColor($sinai-7005);
$sinai-8001: #F74433;
$sinai-8001-invert: findColorInvert($sinai-8001);
$sinai-8001-light: findLightColor($sinai-8001);
$sinai-8001-dark: findDarkColor($sinai-8001);
$sinai-8002: #ABDCF1;
$sinai-8002-invert: findColorInvert($sinai-8002);
$sinai-8002-light: findLightColor($sinai-8002);
$sinai-8002-dark: findDarkColor($sinai-8002);
$sinai-8003: #17B122;
$sinai-8003-invert: findColorInvert($sinai-8003);
$sinai-8003-light: findLightColor($sinai-8003);
$sinai-8003-dark: findDarkColor($sinai-8003);
$sinai-8004: #B33CD4;
$sinai-8004-invert: findColorInvert($sinai-8004);
$sinai-8004-light: findLightColor($sinai-8004);
$sinai-8004-dark: findDarkColor($sinai-8004);
$sinai-8005: #D21C63;
$sinai-8005-invert: findColorInvert($sinai-8005);
$sinai-8005-light: findLightColor($sinai-8005);
$sinai-8005-dark: findDarkColor($sinai-8005);
$sinai-8006: #4E9083;
$sinai-8006-invert: findColorInvert($sinai-8006);
$sinai-8006-light: findLightColor($sinai-8006);
$sinai-8006-dark: findDarkColor($sinai-8006);
$sinai-8007: #A8DB52;
$sinai-8007-invert: findColorInvert($sinai-8007);
$sinai-8007-light: findLightColor($sinai-8007);
$sinai-8007-dark: findDarkColor($sinai-8007);
$sinai-9001: #E00A54;
$sinai-9001-invert: findColorInvert($sinai-9001);
$sinai-9001-light: findLightColor($sinai-9001);
$sinai-9001-dark: findDarkColor($sinai-9001);
$sinai-9002: #56AB68;
$sinai-9002-invert: findColorInvert($sinai-9002);
$sinai-9002-light: findLightColor($sinai-9002);
$sinai-9002-dark: findDarkColor($sinai-9002);
$sinai-10001: #081DD4;
$sinai-10001-invert: findColorInvert($sinai-10001);
$sinai-10001-light: findLightColor($sinai-10001);
$sinai-10001-dark: findDarkColor($sinai-10001);
$sinai-10002: #25F111;
$sinai-10002-invert: findColorInvert($sinai-10002);
$sinai-10002-light: findLightColor($sinai-10002);
$sinai-10002-dark: findDarkColor($sinai-10002);
$sinai-11001: #1F967A;
$sinai-11001-invert: findColorInvert($sinai-11001);
$sinai-11001-light: findLightColor($sinai-11001);
$sinai-11001-dark: findDarkColor($sinai-11001);
$sinai-11002: #050773;
$sinai-11002-invert: findColorInvert($sinai-11002);
$sinai-11002-light: findLightColor($sinai-11002);
$sinai-11002-dark: findDarkColor($sinai-11002);
$sinai-11003: #31F553;
$sinai-11003-invert: findColorInvert($sinai-11003);
$sinai-11003-light: findLightColor($sinai-11003);
$sinai-11003-dark: findDarkColor($sinai-11003);
$sinai-11004: #43B3ED;
$sinai-11004-invert: findColorInvert($sinai-11004);
$sinai-11004-light: findLightColor($sinai-11004);
$sinai-11004-dark: findDarkColor($sinai-11004);
$sinai-11005: #937D59;
$sinai-11005-invert: findColorInvert($sinai-11005);
$sinai-11005-light: findLightColor($sinai-11005);
$sinai-11005-dark: findDarkColor($sinai-11005);
$sinai-12001: #3E6746;
$sinai-12001-invert: findColorInvert($sinai-12001);
$sinai-12001-light: findLightColor($sinai-12001);
$sinai-12001-dark: findDarkColor($sinai-12001);
$sinai-12002: #9B2EAF;
$sinai-12002-invert: findColorInvert($sinai-12002);
$sinai-12002-light: findLightColor($sinai-12002);
$sinai-12002-dark: findDarkColor($sinai-12002);
$sinai-12003: #3C4684;
$sinai-12003-invert: findColorInvert($sinai-12003);
$sinai-12003-light: findLightColor($sinai-12003);
$sinai-12003-dark: findDarkColor($sinai-12003);
$sinai-12004: #9D8C42;
$sinai-12004-invert: findColorInvert($sinai-12004);
$sinai-12004-light: findLightColor($sinai-12004);
$sinai-12004-dark: findDarkColor($sinai-12004);
$sinai-13001: #ED113D;
$sinai-13001-invert: findColorInvert($sinai-13001);
$sinai-13001-light: findLightColor($sinai-13001);
$sinai-13001-dark: findDarkColor($sinai-13001);
$sinai-13002: #31BE7A;
$sinai-13002-invert: findColorInvert($sinai-13002);
$sinai-13002-light: findLightColor($sinai-13002);
$sinai-13002-dark: findDarkColor($sinai-13002);
$sinai-13003: #7FC128;
$sinai-13003-invert: findColorInvert($sinai-13003);
$sinai-13003-light: findLightColor($sinai-13003);
$sinai-13003-dark: findDarkColor($sinai-13003);
$sinai-13004: #2696A7;
$sinai-13004-invert: findColorInvert($sinai-13004);
$sinai-13004-light: findLightColor($sinai-13004);
$sinai-13004-dark: findDarkColor($sinai-13004);
$sinai-14001: #17D1A8;
$sinai-14001-invert: findColorInvert($sinai-14001);
$sinai-14001-light: findLightColor($sinai-14001);
$sinai-14001-dark: findDarkColor($sinai-14001);
$sinai-14002: #A8A6BE;
$sinai-14002-invert: findColorInvert($sinai-14002);
$sinai-14002-light: findLightColor($sinai-14002);
$sinai-14002-dark: findDarkColor($sinai-14002);
$sinai-14003: #37EB4A;
$sinai-14003-invert: findColorInvert($sinai-14003);
$sinai-14003-light: findLightColor($sinai-14003);
$sinai-14003-dark: findDarkColor($sinai-14003);
$sinai-14004: #9E37A1;
$sinai-14004-invert: findColorInvert($sinai-14004);
$sinai-14004-light: findLightColor($sinai-14004);
$sinai-14004-dark: findDarkColor($sinai-14004);
$sinai-14005: #E352BF;
$sinai-14005-invert: findColorInvert($sinai-14005);
$sinai-14005-light: findLightColor($sinai-14005);
$sinai-14005-dark: findDarkColor($sinai-14005);
$sinai-15001: #9898DB;
$sinai-15001-invert: findColorInvert($sinai-15001);
$sinai-15001-light: findLightColor($sinai-15001);
$sinai-15001-dark: findDarkColor($sinai-15001);
$sinai-15002: #9DC1D4;
$sinai-15002-invert: findColorInvert($sinai-15002);
$sinai-15002-light: findLightColor($sinai-15002);
$sinai-15002-dark: findDarkColor($sinai-15002);
$sinai-15003: #177CF3;
$sinai-15003-invert: findColorInvert($sinai-15003);
$sinai-15003-light: findLightColor($sinai-15003);
$sinai-15003-dark: findDarkColor($sinai-15003);
$sinai-15004: #053D60;
$sinai-15004-invert: findColorInvert($sinai-15004);
$sinai-15004-light: findLightColor($sinai-15004);
$sinai-15004-dark: findDarkColor($sinai-15004);
$sinai-15005: #82BF4C;
$sinai-15005-invert: findColorInvert($sinai-15005);
$sinai-15005-light: findLightColor($sinai-15005);
$sinai-15005-dark: findDarkColor($sinai-15005);
$sinai-15006: #DC859B;
$sinai-15006-invert: findColorInvert($sinai-15006);
$sinai-15006-light: findLightColor($sinai-15006);
$sinai-15006-dark: findDarkColor($sinai-15006);
$sinai-16001: #1A44D9;
$sinai-16001-invert: findColorInvert($sinai-16001);
$sinai-16001-light: findLightColor($sinai-16001);
$sinai-16001-dark: findDarkColor($sinai-16001);
$sinai-16002: #957BD2;
$sinai-16002-invert: findColorInvert($sinai-16002);
$sinai-16002-light: findLightColor($sinai-16002);
$sinai-16002-dark: findDarkColor($sinai-16002);
$sinai-16003: #33F2C4;
$sinai-16003-invert: findColorInvert($sinai-16003);
$sinai-16003-light: findLightColor($sinai-16003);
$sinai-16003-dark: findDarkColor($sinai-16003);
$sinai-16004: #ECC2E3;
$sinai-16004-invert: findColorInvert($sinai-16004);
$sinai-16004-light: findLightColor($sinai-16004);
$sinai-16004-dark: findDarkColor($sinai-16004);
$sinai-16005: #33B837;
$sinai-16005-invert: findColorInvert($sinai-16005);
$sinai-16005-light: findLightColor($sinai-16005);
$sinai-16005-dark: findDarkColor($sinai-16005);
$sinai-17001: #670224;
$sinai-17001-invert: findColorInvert($sinai-17001);
$sinai-17001-light: findLightColor($sinai-17001);
$sinai-17001-dark: findDarkColor($sinai-17001);
$sinai-17002: #4708B0;
$sinai-17002-invert: findColorInvert($sinai-17002);
$sinai-17002-light: findLightColor($sinai-17002);
$sinai-17002-dark: findDarkColor($sinai-17002);
$sinai-17003: #507A0C;
$sinai-17003-invert: findColorInvert($sinai-17003);
$sinai-17003-light: findLightColor($sinai-17003);
$sinai-17003-dark: findDarkColor($sinai-17003);
$sinai-17004: #A361EC;
$sinai-17004-invert: findColorInvert($sinai-17004);
$sinai-17004-light: findLightColor($sinai-17004);
$sinai-17004-dark: findDarkColor($sinai-17004);
$sinai-17005: #B36453;
$sinai-17005-invert: findColorInvert($sinai-17005);
$sinai-17005-light: findLightColor($sinai-17005);
$sinai-17005-dark: findDarkColor($sinai-17005);
$sinai-37002: #69BD9D;
$sinai-37002-invert: findColorInvert($sinai-37002);
$sinai-37002-light: findLightColor($sinai-37002);
$sinai-37002-dark: findDarkColor($sinai-37002);
$sinai-37003: #589E27;
$sinai-37003-invert: findColorInvert($sinai-37003);
$sinai-37003-light: findLightColor($sinai-37003);
$sinai-37003-dark: findDarkColor($sinai-37003);
$sinai-None: #ffffff;
$sinai-None-invert: findColorInvert($sinai-None);
$sinai-None-light: findLightColor($sinai-None);
$sinai-None-dark: findDarkColor($sinai-None);
$sinai-32001: #7E4AC7;
$sinai-32001-invert: findColorInvert($sinai-32001);
$sinai-32001-light: findLightColor($sinai-32001);
$sinai-32001-dark: findDarkColor($sinai-32001);
$sinai-32002: #654494;
$sinai-32002-invert: findColorInvert($sinai-32002);
$sinai-32002-light: findLightColor($sinai-32002);
$sinai-32002-dark: findDarkColor($sinai-32002);
$sinai-34002: #A28C87;
$sinai-34002-invert: findColorInvert($sinai-34002);
$sinai-34002-light: findLightColor($sinai-34002);
$sinai-34002-dark: findDarkColor($sinai-34002);
$sinai-34003: #163D2D;
$sinai-34003-invert: findColorInvert($sinai-34003);
$sinai-34003-light: findLightColor($sinai-34003);
$sinai-34003-dark: findDarkColor($sinai-34003);
$sinai-34004: #F36A86;
$sinai-34004-invert: findColorInvert($sinai-34004);
$sinai-34004-light: findLightColor($sinai-34004);
$sinai-34004-dark: findDarkColor($sinai-34004);
$sinai-35002: #782752;
$sinai-35002-invert: findColorInvert($sinai-35002);
$sinai-35002-light: findLightColor($sinai-35002);
$sinai-35002-dark: findDarkColor($sinai-35002);
$sinai-35003: #BCD631;
$sinai-35003-invert: findColorInvert($sinai-35003);
$sinai-35003-light: findLightColor($sinai-35003);
$sinai-35003-dark: findDarkColor($sinai-35003);
$sinai-35004: #49ECC2;
$sinai-35004-invert: findColorInvert($sinai-35004);
$sinai-35004-light: findLightColor($sinai-35004);
$sinai-35004-dark: findDarkColor($sinai-35004);
$sinai-36002: #4784C6;
$sinai-36002-invert: findColorInvert($sinai-36002);
$sinai-36002-light: findLightColor($sinai-36002);
$sinai-36002-dark: findDarkColor($sinai-36002);
$sinai-36003: #60DBF4;
$sinai-36003-invert: findColorInvert($sinai-36003);
$sinai-36003-light: findLightColor($sinai-36003);
$sinai-36003-dark: findDarkColor($sinai-36003);
$sinai-36004: #88B9A5;
$sinai-36004-invert: findColorInvert($sinai-36004);
$sinai-36004-light: findLightColor($sinai-36004);
$sinai-36004-dark: findDarkColor($sinai-36004);
$sinai-36005: #20BA74;
$sinai-36005-invert: findColorInvert($sinai-36005);
$sinai-36005-light: findLightColor($sinai-36005);
$sinai-36005-dark: findDarkColor($sinai-36005);
$sinai-37004: #BA6A8E;
$sinai-37004-invert: findColorInvert($sinai-37004);
$sinai-37004-light: findLightColor($sinai-37004);
$sinai-37004-dark: findDarkColor($sinai-37004);
$sinai-37005: #70FB20;
$sinai-37005-invert: findColorInvert($sinai-37005);
$sinai-37005-light: findLightColor($sinai-37005);
$sinai-37005-dark: findDarkColor($sinai-37005);

$custom-colors: ("sinai-1001": $sinai-1001,
"sinai-1002": $sinai-1002,
"sinai-2001": $sinai-2001,
"sinai-2002": $sinai-2002,
"sinai-3001": $sinai-3001,
"sinai-3002": $sinai-3002,
"sinai-3003": $sinai-3003,
"sinai-3004": $sinai-3004,
"sinai-3005": $sinai-3005,
"sinai-3006": $sinai-3006,
"sinai-3007": $sinai-3007,
"sinai-3008": $sinai-3008,
"sinai-3009": $sinai-3009,
"sinai-3010": $sinai-3010,
"sinai-3011": $sinai-3011,
"sinai-3012": $sinai-3012,
"sinai-3013": $sinai-3013,
"sinai-3014": $sinai-3014,
"sinai-3015": $sinai-3015,
"sinai-3016": $sinai-3016,
"sinai-3017": $sinai-3017,
"sinai-4001": $sinai-4001,
"sinai-4002": $sinai-4002,
"sinai-4003": $sinai-4003,
"sinai-4004": $sinai-4004,
"sinai-5001": $sinai-5001,
"sinai-5002": $sinai-5002,
"sinai-6001": $sinai-6001,
"sinai-6002": $sinai-6002,
"sinai-6003": $sinai-6003,
"sinai-6004": $sinai-6004,
"sinai-7001": $sinai-7001,
"sinai-7002": $sinai-7002,
"sinai-7003": $sinai-7003,
"sinai-7004": $sinai-7004,
"sinai-7005": $sinai-7005,
"sinai-8001": $sinai-8001,
"sinai-8002": $sinai-8002,
"sinai-8003": $sinai-8003,
"sinai-8004": $sinai-8004,
"sinai-8005": $sinai-8005,
"sinai-8006": $sinai-8006,
"sinai-8007": $sinai-8007,
"sinai-9001": $sinai-9001,
"sinai-9002": $sinai-9002,
"sinai-10001": $sinai-10001,
"sinai-10002": $sinai-10002,
"sinai-11001": $sinai-11001,
"sinai-11002": $sinai-11002,
"sinai-11003": $sinai-11003,
"sinai-11004": $sinai-11004,
"sinai-11005": $sinai-11005,
"sinai-12001": $sinai-12001,
"sinai-12002": $sinai-12002,
"sinai-12003": $sinai-12003,
"sinai-12004": $sinai-12004,
"sinai-13001": $sinai-13001,
"sinai-13002": $sinai-13002,
"sinai-13003": $sinai-13003,
"sinai-13004": $sinai-13004,
"sinai-14001": $sinai-14001,
"sinai-14002": $sinai-14002,
"sinai-14003": $sinai-14003,
"sinai-14004": $sinai-14004,
"sinai-14005": $sinai-14005,
"sinai-15001": $sinai-15001,
"sinai-15002": $sinai-15002,
"sinai-15003": $sinai-15003,
"sinai-15004": $sinai-15004,
"sinai-15005": $sinai-15005,
"sinai-15006": $sinai-15006,
"sinai-16001": $sinai-16001,
"sinai-16002": $sinai-16002,
"sinai-16003": $sinai-16003,
"sinai-16004": $sinai-16004,
"sinai-16005": $sinai-16005,
"sinai-17001": $sinai-17001,
"sinai-17002": $sinai-17002,
"sinai-17003": $sinai-17003,
"sinai-17004": $sinai-17004,
"sinai-17005": $sinai-17005,
"sinai-37002": $sinai-37002,
"sinai-37003": $sinai-37003,
"sinai-None": $sinai-None,
"sinai-32001": $sinai-32001,
"sinai-32002": $sinai-32002,
"sinai-34002": $sinai-34002,
"sinai-34003": $sinai-34003,
"sinai-34004": $sinai-34004,
"sinai-35002": $sinai-35002,
"sinai-35003": $sinai-35003,
"sinai-35004": $sinai-35004,
"sinai-36002": $sinai-36002,
"sinai-36003": $sinai-36003,
"sinai-36004": $sinai-36004,
"sinai-36005": $sinai-36005,
"sinai-37004": $sinai-37004,
"sinai-37005": $sinai-37005,) !default;$custom-shades: null !default;


// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps(
    (
        'white': (
            $white,
            $black,
        ),
        'black': (
            $black,
            $white,
        ),
        'light': (
            $light,
            $light-invert,
        ),
        'dark': (
            $dark,
            $dark-invert,
        ),
        'primary': (
            $primary,
            $primary-invert,
            $primary-light,
            $primary-dark,
        ),
        'link': (
            $link,
            $link-invert,
            $link-light,
            $link-dark,
        ),
        'info': (
            $info,
            $info-invert,
            $info-light,
            $info-dark,
        ),
        'success': (
            $success,
            $success-invert,
            $success-light,
            $success-dark,
        ),
        'warning': (
            $warning,
            $warning-invert,
            $warning-light,
            $warning-dark,
        ),
        'danger': (
            $danger,
            $danger-invert,
            $danger-light,
            $danger-dark,
        )
    ),
    $custom-colors
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Buefy variables -- https://bulma.io/documentation/customize/variables/
$size-small: 0.85rem;

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';